@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root [data-md-color-scheme = "slate"] {
    /* Main Background Color #131314 */
    --md-default-bg-color: #0a0a0a;
    --md-default-bg-color--light: #0a0a0a;

    /* Main Font Color #131314 */
    --md-default-fg-color: #ffffff;
    --md-default-fg-color--light: #ffffff;

    /* Text Font */
    --md-text-font: 'Plus Jakarta Sans';

}

/* Header and Footer Background Color */
.md-header {
    background-color: #9bd353 !important;
}
.md-footer {
    background-color: #9bd353 !important;
}

/* Titles, subtitles and resalted texts color. */
h1, h2, h3, h4, h5, h6, em, strong, b {
    color: #9bd353 !important;
    font-weight: 700;
}

/* Color for small comments. */
.comentario-ext {
  color: #704A1E;
  font-size: 0.85em;
  font-style: italic;
  font-weight: 200;
}

/* Links on green color. */
.md-typeset a {
    color: #9bd353;
}

/* For Header image size. */
.md-logo img {
    height: 3rem !important; 
    width: auto !important;
    margin-top: 0.2rem;
}

/* For not cutting div. */
.md-header__button.md-logo {
    margin: 0.4rem;
    padding: 0;
}

/* Windows Bar color */
.md-tabs {
    background-color: #9bd353 !important;
}

/* Bakcground color from copyright section */
.md-footer-meta {
    background-color: #9bd353 !important; 
}

/* Color from copyright section's text */
.md-footer-meta__inner {
    color: #0a0a0a !important;
}

.md-footer-meta, .md-copyright, .md-footer-meta__inner {
    color: #0a0a0a !important;
}

/* Footer links to brown when interacting */
.md-footer-meta a {
    color: #704A1E !important;
}

/* Links color when mouse pointer is on top. */
a:hover {
    color: #9bd353 !important;
}

/* Commands code hover. */
a:hover code {
    color: #9bd353 !important;
}

/* Navigation menu hover */
.md-nav__link:hover {
    color: #9bd353 !important;
}

/* Color of active link and hover. */
.md-nav__link--active {
    color: #9bd353 !important;
}

.md-nav__link:hover {
    color: #9bd353 !important;
}

.md-nav__icon {
    color: #ffffff !important;
}

/* Icons frommenu besides the titles. */
.md-nav__icon {
    color: #9bd353 !important;
}

/* Inline code blocks. */
code {
    background-color: #131414 !important; 
    color: #ffffff !important;          
    border-radius: 4px;
    padding: 2px 4px;
}

/* Fences. */
.highlight {
    background-color: #0a0a0a !important; 
}

/* Hover for Code Background. */
code:hover {
    outline: 1px solid #9bd353;
}

/* Header Title Color. */
.md-header__title {
    color: #704A1E !important;
    font-weight: 800; 
}

/* Lens color. */
.md-search__icon {
    color: #704A1E !important;
}

/* Placeholder color. */
.md-search__input::placeholder {
    color: #704A1E !important;
    opacity: 0.7;
}

/* Every tab in brown. */
.md-tabs__link {
    color: #704A1E !important;
    opacity: 0.7;
    font-weight: 600;
}

/* Every tab in brown. */
.md-tabs__link:hover {
    color: #0a0a0a !important;
    opacity: 0.7;
}

/* Active tab. */
.md-tabs__link--active {
    opacity: 1 !important;
}